@model WebApplication1.Models.Item

@{
    var items = new List<string> {"items" , "item" , "item" };
}
@* 
 Model represents one object of type Item 
*@

<p> hii i am  @Model.Name </p>


@foreach (string item in items)
{
    <li>@item</li>
}
